#root {
  background: url("./assets/bg-pattern-top-mobile.svg"), url("./assets/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, bottom right;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 2rem 1rem;

  h1 {
    color: var(--clr-primary);
    font-weight: var(--fw-bold);
    font-size: 3rem;
    text-align: center;
    line-height: 2.5rem;
    padding-bottom: 2rem;
  }

  & > p {
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.5rem;
    padding-bottom: 2.5rem;

    color: var(--clr-rating-background);
    font-weight: var(--fw-medium);
  }
}

.rating-component-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.review-component-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
