.rating-component {
  background-color: var(--clr-neutral-text);
  border-radius: var(--br-base);
  padding: 1rem;
  text-align: center;
  color: var(--clr-primary);

  .stars-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.75rem;
    padding-bottom: 1rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 600px) {
  .rating-component {

  }
}

@media screen and (min-width: 1200px) {
  .rating-component {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 35rem;
    padding: 1rem 2rem 1rem 2rem;

    .stars-container {
      padding-bottom: 0;
    }

    &:first-child {
      justify-self: start;
    }

    &:nth-child(2) {
      justify-self: center;
    }

    &:last-child {
      justify-self: end;
    }
  }
}