.review-component {
  background-color: var(--clr-primary);
  border-radius: var(--br-base);
  color: var(--clr-neutral-text);
  padding: 2rem;
  font-size: 1rem;


  header {
    display: flex;
    padding-bottom: 1.5rem;
    gap: 1.5rem;

    h3 {
      color: var(--clr-neutral-text);
      font-size: 1rem;
      font-weight: var(--fw-medium);
    }

    h4 {
      color: var(--clr-secondary);
      font-size: 1rem;
      font-weight: var(--fw-medium);
    }
  }

  img {
    border-radius: 100%;
    max-width: 50px;
  }
}

@media screen and (min-width: 600px) {
  .review-component {

    &:first-child {
      align-self: start;
    }

    &:nth-child(2) {
      align-self: center;
    }

    &:last-child {
      align-self: end;
    }
  }
}